---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: The Boucher Six homepage
description: The Boucher family homepage with application statuses
background:
  image: /images/pexels-lastly-997443.jpg
  blur: sm
  # saturate: 50
  # brightness: 50
  # opacity: 50

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey

layout:
  Media:
    style: row
    columns: 3

  File Management:
    style: row
    columns: 3

  Media Management:
    style: row
    columns: 2

  Network Management:
    style: row
    columns: 2
