configs:
  {{mailrise_general_notifications_email}}:
    urls:
      - discord://{{discord_webhook_id}}/{{discord_webhook_token}}
  {{mailrise_warning_notifications_email}}:
    urls:
      - discord://{{discord_webhook_id}}/{{discord_webhook_token}}
  {{mailrise_urgent_notifications_email}}:
    urls:
      - discord://{{discord_webhook_id}}/{{discord_webhook_token}}