ldap-hostname = openldap
ldap-port = 389
ldap-encryption-method = none
ldap-search-bind-dn = cn=readonly,dc=theboucher6,dc=com
ldap-search-bind-password = readonly
ldap-user-base-dn = ou=users,dc=theboucher6,dc=com
ldap-username-attribute = uid
ldap-member-attribute = member
ldap-group-base-dn = ou=groups,dc=theboucher6,dc=com
