libraries:              # Library mappings must have a colon (:) placed after them
  Movies:
    metadata_path:
      - file: config/Movies.yml
      - pmm: basic
      - pmm: studio
      - pmm: genre
      - pmm: actor
  TV:
    metadata_path:
      - file: config/TV.yml
      - pmm: basic
      - pmm: network
settings:                  # Can be individually specified per library as well
  cache: true
  cache_expiration: 60
  asset_directory: config/assets
  asset_folders: true
  assets_for_all: false
  sync_mode: append
  show_unmanaged: true
  show_filtered: false
  show_missing: true
  save_missing: true
  run_again_delay: 2
  missing_only_released: false
  create_asset_folders: false
  collection_minimum: 1
  delete_below_minimum: false
  tvdb_language: default
  show_missing_assets: true
plex:                       # Can be individually specified per library as well
  url: {{plexmm_plex_url}}
  token: {{plexmm_plex_token}}
  timeout: 60
  clean_bundles: false
  empty_trash: false
  optimize: false
tmdb:
  apikey: {{tmdb_api_key}}
  language: en
tautulli:                   # Can be individually specified per library as well
  url: http://tautulli:8181
  apikey: {{tautulli_api_key}}
radarr:                     # Can be individually specified per library as well
  url: http://radarr:7878
  token: {{radarr_api_key}}
  version: v3
  add: false
  root_folder_path: "/media/movies/Movies"
  monitor: true
  availability: announced
  quality_profile: HD - 720p/1080p
  tag:
  search: false
  add_existing: false
sonarr:                      # Can be individually specified per library as well
  url: http://sonarr:8989
  token: {{sonarr_api_key}}
  version: v3
  add: false
  root_folder_path: "/media/tv/TV Series"
  monitor: all
  quality_profile: Any
  language_profile: English
  series_type: standard
  season_folder: true
  tag:
  search: false
  cutoff_search: false
  add_existing: false
   