version: '3.5'

services:
  vault:
    image: "{{vault_docker_image}}:{{vault_version}}"
    hostname: "{{vault_hostname}}"
    networks:
      - {{traefik_network}}
    cap_add:
      - IPC_LOCK
    entrypoint: vault server -config=/vault/config/local.json
    volumes:
      - /datavol/apps/vault/logs:/vault/logs
      - /datavol/apps/vault/file:/vault/file
      - /datavol/apps/vault/config:/vault/config
    deploy:
      labels:
        - "traefik.http.routers.vault.entrypoints=websecure"
        - "traefik.http.routers.vault.rule=Host(`pki.{{project_tld}}`)"
        - "traefik.http.routers.vault.tls=true"
        - "traefik.http.routers.vault.middlewares=chain-authelia@file"
        - "traefik.http.routers.vault.service=vault"
        - "traefik.http.routers.vault.tls.certresolver={{default_certificate_resolver}}"
        - "traefik.http.services.vault.loadbalancer.server.port={{vault_port}}"
        - "traefik.enable=true"
      mode: global
      placement:
        constraints: [node.id == {{docker_master1_node_id}}]

networks:
  {{traefik_network}}:
    external: true
    name: {{traefik_network}}