<Config>
  <LogLevel>info</LogLevel>
  <BindAddress>*</BindAddress>
  <EnableSsl>False</EnableSsl>
  <SslCertPath></SslCertPath>
  <Port>{{readarr_port}}</Port>
  <UrlBase></UrlBase>
  <ApiKey>{{readarr_api_key}}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <SslPort>6868</SslPort>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>nightly</Branch>
  <SslCertPassword></SslCertPassword>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <PostgresUser>{{ readarr_database_user }}</PostgresUser>
  <PostgresPassword>{{ readarr_database_password }}</PostgresPassword>
  <PostgresPort>{{postgres_port}}</PostgresPort>
  <PostgresHost>{{postgres_hostname}}</PostgresHost>
  <PostgresMainDb>{{ readarr_maindb_database }}</PostgresMainDb>
  <PostgresLogDb>{{ readarr_logdb_database }}</PostgresLogDb>
  <PostgresCacheDb>{{ readarr_cachedb_database }}</PostgresCacheDb>
</Config>