<Config>
  <LogLevel>info</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>{{sonarr_anime_port}}</Port>
  <SslPort>9898</SslPort>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>{{sonarr_anime_api_key}}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>{{sonarr_anime_version}}</Branch>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <InstanceName>Sonarr</InstanceName>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <PostgresUser>{{ sonarr_anime_database_user }}</PostgresUser>
  <PostgresPassword>{{ sonarr_anime_database_password }}</PostgresPassword>
  <PostgresPort>{{postgres_port}}</PostgresPort>
  <PostgresHost>{{postgres_hostname}}</PostgresHost>
  <PostgresMainDb>{{ sonarr_anime_maindb_database }}</PostgresMainDb>
  <PostgresLogDb>{{ sonarr_anime_logdb_database }}</PostgresLogDb>
</Config>