<Config>
  <LogLevel>Info</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>{{lidarr_port}}</Port>
  <SslPort>6868</SslPort>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>{{lidarr_api_key}}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <LaunchBrowser>True</LaunchBrowser>
  <UpdateMechanism>Docker</UpdateMechanism>
  <Branch>develop</Branch>
  <UpdateAutomatically>False</UpdateAutomatically>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <InstanceName>Lidarr</InstanceName>
  <PostgresUser>{{ lidarr_database_user }}</PostgresUser>
  <PostgresPassword>{{ lidarr_database_password }}</PostgresPassword>
  <PostgresPort>{{postgres_port}}</PostgresPort>
  <PostgresHost>{{postgres_hostname}}</PostgresHost>
  <PostgresMainDb>{{ lidarr_maindb_database }}</PostgresMainDb>
  <PostgresLogDb>{{ lidarr_logdb_database }}</PostgresLogDb>
</Config>