{
  "allowMultipleMoviesInSameDir" : false,
  "artworkScrapers" : [ "tmdb", "fanarttv" ],
  "asciiReplacement" : false,
  "automaticTrailerDownload" : false,
  "badWord" : [ ],
  "bannerFilenames" : [ "BANNER" ],
  "buildImageCacheOnImport" : false,
  "capitalWordsInTitles" : false,
  "certificationCountry" : "US",
  "certificationStyle" : "SHORT",
  "clearartFilenames" : [ "CLEARART" ],
  "clearlogoFilenames" : [ "CLEARLOGO" ],
  "configFilename" : "movies.json",
  "createOutline" : true,
  "defaultImageScraperLanguage" : "en",
  "discartFilenames" : [ "DISC" ],
  "displayMovieSetMissingMovies" : false,
  "doNotOverwriteExistingData" : false,
  "extraFanartFilenames" : [ "FILENAME_EXTRAFANART" ],
  "extractArtworkFromVsmeta" : false,
  "fanartFilenames" : [ "FANART" ],
  "fetchAllRatings" : true,
  "imageExtraFanart" : false,
  "imageExtraFanartCount" : 5,
  "imageExtraThumbs" : false,
  "imageExtraThumbsCount" : 5,
  "imageExtraThumbsResize" : true,
  "imageExtraThumbsSize" : 300,
  "imageFanartSize" : "LARGE",
  "imagePosterSize" : "LARGE",
  "imageScraperFallback" : true,
  "imageScraperLanguages" : [ "en" ],
  "imageScraperOtherResolutions" : true,
  "imageScraperPreferFanartWoText" : true,
  "includeExternalAudioStreams" : false,
  "keyartFilenames" : [ "KEYART" ],
  "movieCheckArtwork" : [ "POSTER", "FANART" ],
  "movieCheckMetadata" : [ "ID", "TITLE", "YEAR", "PLOT", "RATING", "RUNTIME", "CERTIFICATION", "GENRES", "ACTORS" ],
  "movieConnector" : "PLEX",
  "movieDataSource" : [ "/media/movies", "/media/movies-4k" ],
  "movieDisplayAllMissingArtwork" : false,
  "movieDisplayAllMissingMetadata" : false,
  "movieScraper" : "tmdb",
  "movieSetBannerFilenames" : [ "MOVIE_BANNER" ],
  "movieSetCheckArtwork" : [ "POSTER", "FANART" ],
  "movieSetCheckMetadata" : [ "ID", "TITLE", "PLOT" ],
  "movieSetClearartFilenames" : [ "MOVIE_CLEARART" ],
  "movieSetClearlogoFilenames" : [ "MOVIE_CLEARLOGO" ],
  "movieSetConnector" : "EMBY",
  "movieSetDataFolder" : "",
  "movieSetDiscartFilenames" : [ "MOVIE_DISCART" ],
  "movieSetDisplayAllMissingArtwork" : false,
  "movieSetDisplayAllMissingMetadata" : false,
  "movieSetFanartFilenames" : [ "MOVIE_FANART" ],
  "movieSetNfoFilenames" : [ ],
  "movieSetPosterFilenames" : [ "MOVIE_POSTER" ],
  "movieSetThumbFilenames" : [ "MOVIE_LANDSCAPE" ],
  "movieSetTitleCharacterReplacement" : "_",
  "movieSetUiFilterPresets" : { },
  "movieSetUiFilters" : [ ],
  "movieUiFilterPresets" : { },
  "nfoDateAddedField" : "DATE_ADDED",
  "nfoDiscFolderInside" : true,
  "nfoFilenames" : [ "FILENAME_NFO" ],
  "nfoLanguage" : "en",
  "nfoWriteLockdata" : false,
  "nfoWriteSingleStudio" : false,
  "originalTitle" : false,
  "outlineFirstSentence" : false,
  "postProcess" : [ ],
  "posterFilenames" : [ "POSTER" ],
  "ratingSources" : [ "imdb" ],
  "releaseDateCountry" : "US",
  "renameAfterScrape" : false,
  "renamerCleanupUnwanted" : false,
  "renamerColonReplacement" : "-",
  "renamerCreateMoviesetForSingleMovie" : false,
  "renamerFilename" : "${title} ${- ,edition,} (${year}) ${videoFormat} ${audioCodec}",
  "renamerFirstCharacterNumberReplacement" : "#",
  "renamerNfoCleanup" : false,
  "renamerPathname" : "${title} ${- ,edition,} (${year})",
  "renamerPathnameSpaceReplacement" : "_",
  "renamerPathnameSpaceSubstitution" : false,
  "renamerSpaceReplacement" : "_",
  "renamerSpaceSubstitution" : false,
  "resetNewFlagOnUds" : true,
  "runtimeFromMediaInfo" : false,
  "scrapeBestImage" : true,
  "scrapeBestImageMovieSet" : true,
  "scraperFallback" : false,
  "scraperLanguage" : "en",
  "scraperMetadataConfig" : [ "ID", "TITLE", "ORIGINAL_TITLE", "TAGLINE", "PLOT", "YEAR", "RELEASE_DATE", "RATING", "TOP250", "RUNTIME", "CERTIFICATION", "GENRES", "SPOKEN_LANGUAGES", "COUNTRY", "PRODUCTION_COMPANY", "TAGS", "COLLECTION", "TRAILER", "ACTORS", "PRODUCERS", "DIRECTORS", "WRITERS", "POSTER", "FANART", "BANNER", "CLEARART", "THUMB", "LOGO", "CLEARLOGO", "DISCART", "KEYART", "EXTRAFANART", "EXTRATHUMB", "ID", "TITLE", "ORIGINAL_TITLE", "TAGLINE", "PLOT", "YEAR", "RELEASE_DATE", "RATING", "TOP250", "RUNTIME", "CERTIFICATION", "GENRES", "SPOKEN_LANGUAGES", "COUNTRY", "PRODUCTION_COMPANY", "TAGS", "COLLECTION", "TRAILER", "ACTORS", "PRODUCERS", "DIRECTORS", "WRITERS", "POSTER", "FANART", "BANNER", "CLEARART", "THUMB", "LOGO", "CLEARLOGO", "DISCART", "KEYART", "EXTRAFANART", "EXTRATHUMB" ],
  "scraperThreshold" : 0.75,
  "showArtworkTypes" : [ "POSTER", "FANART", "THUMB" ],
  "showMovieSetTableTooltips" : true,
  "showMovieTableTooltips" : true,
  "skipFolder" : [ "MAKEMKV" ],
  "sortTitle" : false,
  "sortableOriginalTitle" : false,
  "sortableTitle" : false,
  "storeMovieSetUiFilters" : false,
  "storeUiFilters" : false,
  "subtitleForceBestMatch" : false,
  "subtitleLanguageStyle" : "ISO3T",
  "subtitleScraperLanguage" : "en",
  "subtitleScrapers" : [ "opensubtitles" ],
  "subtitleWithoutLanguageTag" : false,
  "syncTrakt" : false,
  "syncTraktCollection" : true,
  "syncTraktRating" : true,
  "syncTraktWatched" : true,
  "thumbFilenames" : [ "THUMB" ],
  "title" : true,
  "trailerDiscFolderInside" : true,
  "trailerFilenames" : [ "FILENAME_TRAILER" ],
  "trailerQuality" : "HD_720",
  "trailerScrapers" : [ "tmdb", "davesTrailer", "hd-trailers" ],
  "uiFilters" : [ ],
  "universalFilterFields" : [ "NOTE", "FILENAME", "PRODUCTION_COMPANY", "COUNTRY", "SPOKEN_LANGUAGE", "ACTOR", "PRODUCER", "WRITER", "DIRECTOR", "TAGS", "PLOT", "TAGLINE", "NOTE", "FILENAME", "PRODUCTION_COMPANY", "COUNTRY", "SPOKEN_LANGUAGE", "ACTOR", "PRODUCER", "WRITER", "DIRECTOR", "TAGS", "PLOT", "TAGLINE" ],
  "updateOnStart" : false,
  "useMediainfoMetadata" : false,
  "useTrailerPreference" : true,
  "useYtDlp" : false,
  "writeActorImages" : false,
  "writeCleanNfo" : false
}