{
  "nfoFilenames" : [ "FILENAME_NFO" ],
  "posterFilenames" : [ "POSTER" ],
  "fanartFilenames" : [ "FANART" ],
  "extraFanartFilenames" : [ "FILENAME_EXTRAFANART" ],
  "bannerFilenames" : [ "BANNER" ],
  "clearartFilenames" : [ "CLEARART" ],
  "thumbFilenames" : [ "THUMB" ],
  "clearlogoFilenames" : [ "CLEARLOGO" ],
  "logoFilenames" : [ "LOGO" ],
  "discartFilenames" : [ "DISC" ],
  "keyartFilenames" : [ "KEYART" ],
  "trailerFilenames" : [ "FILENAME_TRAILER" ],
  "artworkScrapers" : [ "tmdb", "fanarttv" ],
  "trailerScrapers" : [ "tmdb", "davesTrailer", "hd-trailers" ],
  "subtitleScrapers" : [ "opensubtitles" ],
  "buildImageCacheOnImport" : false,
  "movieConnector" : "EMBY",
  "certificationStyle" : "SHORT",
  "nfoDiscFolderInside" : true,
  "writeCleanNfo" : false,
  "nfoDateAddedField" : "DATE_ADDED",
  "nfoLanguage" : "en",
  "createOutline" : true,
  "outlineFirstSentence" : false,
  "nfoWriteSingleStudio" : false,
  "nfoWriteLockdata" : false,
  "renameAfterScrape" : false,
  "ardAfterScrape" : false,
  "updateOnStart" : false,
  "renamerPathname" : "${title} ${- ,edition,} (${year})",
  "renamerFilename" : "${title} ${- ,edition,} (${year}) ${videoFormat} ${audioCodec}",
  "renamerPathnameSpaceSubstitution" : false,
  "renamerPathnameSpaceReplacement" : "_",
  "renamerColonReplacement" : "-",
  "renamerNfoCleanup" : false,
  "renamerCleanupUnwanted" : false,
  "renamerCreateMoviesetForSingleMovie" : false,
  "renamerFirstCharacterNumberReplacement" : "#",
  "asciiReplacement" : false,
  "allowMultipleMoviesInSameDir" : false,
  "movieScraper" : "tmdb",
  "scraperLanguage" : "en",
  "certificationCountry" : "US",
  "releaseDateCountry" : "US",
  "scraperThreshold" : 0.75,
  "scraperFallback" : false,
  "scraperMetadataConfig" : [ "ID", "TITLE", "ORIGINAL_TITLE", "TAGLINE", "PLOT", "YEAR", "RELEASE_DATE", "RATING", "TOP250", "RUNTIME", "CERTIFICATION", "GENRES", "SPOKEN_LANGUAGES", "COUNTRY", "PRODUCTION_COMPANY", "TAGS", "COLLECTION", "TRAILER", "ACTORS", "PRODUCERS", "DIRECTORS", "WRITERS", "POSTER", "FANART", "BANNER", "CLEARART", "THUMB", "LOGO", "CLEARLOGO", "DISCART", "KEYART", "EXTRAFANART", "EXTRATHUMB", "ID", "TITLE", "ORIGINAL_TITLE", "TAGLINE", "PLOT", "YEAR", "RELEASE_DATE", "RATING", "TOP250", "RUNTIME", "CERTIFICATION", "GENRES", "SPOKEN_LANGUAGES", "COUNTRY", "PRODUCTION_COMPANY", "TAGS", "COLLECTION", "TRAILER", "ACTORS", "PRODUCERS", "DIRECTORS", "WRITERS", "POSTER", "FANART", "BANNER", "CLEARART", "THUMB", "LOGO", "CLEARLOGO", "DISCART", "KEYART", "EXTRAFANART", "EXTRATHUMB" ],
  "doNotOverwriteExistingData" : false,
  "capitalWordsInTitles" : false,
  "fetchAllRatings" : true,
  "imagePosterSize" : "LARGE",
  "imageFanartSize" : "LARGE",
  "imageExtraThumbs" : false,
  "imageExtraThumbsResize" : true,
  "imageExtraThumbsSize" : 300,
  "imageExtraThumbsCount" : 5,
  "imageExtraFanart" : false,
  "imageExtraFanartCount" : 5,
  "scrapeBestImage" : true,
  "imageScraperLanguage" : "en",
  "imageLanguagePriority" : true,
  "writeActorImages" : false,
  "useTrailerPreference" : true,
  "automaticTrailerDownload" : false,
  "trailerQuality" : "HD_720",
  "trailerSource" : "YOUTUBE",
  "subtitleScraperLanguage" : "en",
  "subtitleLanguageStyle" : "ISO3T",
  "subtitleWithoutLanguageTag" : false,
  "subtitleForceBestMatch" : false,
  "runtimeFromMediaInfo" : false,
  "includeExternalAudioStreams" : false,
  "syncTrakt" : false,
  "syncTraktCollection" : true,
  "syncTraktWatched" : true,
  "syncTraktRating" : true,
  "extractArtworkFromVsmeta" : false,
  "useMediainfoMetadata" : false,
  "title" : true,
  "sortableTitle" : false,
  "originalTitle" : false,
  "sortableOriginalTitle" : false,
  "sortTitle" : false,
  "postProcess" : [ ],
  "showArtworkTypes" : [ "POSTER", "FANART", "THUMB" ],
  "showMovieTableTooltips" : true,
  "ratingSources" : [ "imdb" ],
  "movieCheckMetadata" : [ "ID", "TITLE", "YEAR", "PLOT", "RATING", "RUNTIME", "CERTIFICATION", "GENRES", "ACTORS" ],
  "movieDisplayAllMissingMetadata" : false,
  "movieCheckArtwork" : [ "POSTER", "FANART" ],
  "movieDisplayAllMissingArtwork" : false,
  "movieSetCheckMetadata" : [ "ID", "TITLE", "PLOT" ],
  "movieSetDisplayAllMissingMetadata" : false,
  "movieSetCheckArtwork" : [ "POSTER", "FANART" ],
  "movieSetDisplayAllMissingArtwork" : false,
  "storeUiFilters" : false,
  "uiFilters" : [ ],
  "universalFilterFields" : [ "NOTE", "FILENAME", "PRODUCTION_COMPANY", "COUNTRY", "SPOKEN_LANGUAGE", "ACTOR", "PRODUCER", "WRITER", "DIRECTOR", "TAGS", "PLOT", "TAGLINE", "NOTE", "FILENAME", "PRODUCTION_COMPANY", "COUNTRY", "SPOKEN_LANGUAGE", "ACTOR", "PRODUCER", "WRITER", "DIRECTOR", "TAGS", "PLOT", "TAGLINE" ],
  "movieSetConnector" : "EMBY",
  "movieSetNfoFilenames" : [ ],
  "movieSetDataFolder" : "",
  "scrapeBestImageMovieSet" : true,
  "movieSetPosterFilenames" : [ "MOVIE_POSTER" ],
  "movieSetFanartFilenames" : [ "MOVIE_FANART" ],
  "showMovieSetTableTooltips" : true,
  "movieSetBannerFilenames" : [ "MOVIE_BANNER" ],
  "displayMovieSetMissingMovies" : false,
  "movieSetClearartFilenames" : [ "MOVIE_CLEARART" ],
  "movieSetThumbFilenames" : [ "MOVIE_LANDSCAPE" ],
  "storeMovieSetUiFilters" : false,
  "movieSetClearlogoFilenames" : [ "MOVIE_CLEARLOGO" ],
  "movieSetUiFilters" : [ ],
  "movieSetLogoFilenames" : [ "MOVIE_LOGO" ],
  "movieUiFilterPresets" : { },
  "movieSetDiscartFilenames" : [ "MOVIE_DISCART" ],
  "movieSetUiFilterPresets" : { },
  "movieDataSource" : [ "/media/animemovies", "/media/kidsmovies", "/media/movies" ],
  "configFilename" : "movies.json",
  "skipFolder" : [ "MAKEMKV" ],
  "badWord" : [ ],
  "renamerSpaceSubstitution" : false,
  "renamerSpaceReplacement" : "_"
}