#Fri Jun 07 13:52:42 EDT 2024
WhatsNewDialog.bounds=150,84,800,600
chooseffmpeg.path=/usr/bin
lastUpdateCheck=1717649390553
mainWindow.bounds=0,0,2560,1307
mainWindowMaximized=true
messageSummary.bounds=649,219,614,475
movie.datasource.path=/media
movie.hiderenamehint=true
movie.mediainformation.table.mediaFilesTable.hiddenColumns=title
movie.moviecast.actorTable.hiddenColumns=
movie.moviecast.producerTable.hiddenColumns=
movie.movietrailer.table.hiddenColumns=
movie.movietrailer.table.sortState=
movieChooser.bounds=499,156,914,601
movieChooser.splitPane.dividerLocation=300
movieFilter.bounds=1022,364,516,582
movieSets.movieSetTree.hiddenColumns=year,filename,path,rating,userrating,votes,dateAdded,runtime,runtime2,videoCodec,videoBitrate,audio,fileSize,totalFileSize
movieSets.movieTable.hiddenColumns=
moviechooser.searchResults.hiddenColumns=
movies.movieTable.hiddenColumns=originalTitle,sortTitle,releaseDate,filename,path,movieset,votes,userrating,imdb,rottenTomatoes,metacritic,tmdb,top250,certification,dateAdded,fileCreationDate,runtime,runtime2,videoFormat,aspectRatio,aspectRatio2,hdr,videoCodec,videoBitrate,audio,fileSize,totalFileSize,edition,mediaSource,video3d,note
movies.movieTable.sortState=column 0
movies.trailerTable.hiddenColumns=
movies.trailerTable.sortState=
movieset.folderchooser.path=/media
movieset.moviecast.actorTable.hiddenColumns=
movieset.moviecast.producerTable.hiddenColumns=
movieset.moviemediainformation.table.mediaFilesTable.hiddenColumns=title
movieset.movietrailer.table.hiddenColumns=
movieset.movietrailer.table.sortState=
moviesets.movieset.mediaFilesTable.hiddenColumns=title
settings.bounds=449,119,1014,675
settings.splitPane.dividerLocation=212
tvShowChooser.bounds=499,152,914,609
tvShowChooser.splitPane.dividerLocation=312
tvshow.datasource.path=/media
tvshowchooser.searchResults.hiddenColumns=
tvshows.episode.actorTable.hiddenColumns=
tvshows.episode.mediaFilesTable.hiddenColumns=title
tvshows.seaon.episodeTable.hiddenColumns=
tvshows.season.mediaFilesTable.hiddenColumns=title
tvshows.tvshow.actorTable.hiddenColumns=
tvshows.tvshow.mediaFilesTable.hiddenColumns=title
tvshows.tvshowTree.hiddenColumns=originalTitle,filename,path,votes,userrating,imdb,aired,top250,certification,dateAdded,fileCreationDate,runtime,runtime2,format,hdr,videoCodec,videoBitrate,audio,fileSize,totalFileSize,aspectratio,mediaSource,theme,note