#Mon Apr 03 23:49:42 EDT 2023
chooseffmpeg.path=/usr/bin
messageSummary.bounds=649,219,614,475
movie.datasource.path=/media
movieChooser.bounds=499,156,914,601
movieChooser.splitPane.dividerLocation=300
moviechooser.searchResults.hiddenColumns=
movieset.folderchooser.path=/media
settings.bounds=449,119,1014,675
settings.splitPane.dividerLocation=212
tvShowChooser.bounds=499,152,914,609
tvShowChooser.splitPane.dividerLocation=312
tvshow.datasource.path=/media
tvshowchooser.searchResults.hiddenColumns=