{
  "artworkScrapers" : [ "tmdb", "fanarttv", "tvdb" ],
  "trailerScrapers" : [ "tmdb" ],
  "subtitleScrapers" : [ "opensubtitles" ],
  "postProcessTvShow" : [ ],
  "postProcessEpisode" : [ ],
  "nfoFilenames" : [ "TV_SHOW" ],
  "posterFilenames" : [ "POSTER" ],
  "fanartFilenames" : [ "FANART" ],
  "extraFanartFilenames" : [ "EXTRAFANART" ],
  "bannerFilenames" : [ "BANNER" ],
  "discartFilenames" : [ "DISCART" ],
  "clearartFilenames" : [ "CLEARART" ],
  "thumbFilenames" : [ "THUMB" ],
  "clearlogoFilenames" : [ "CLEARLOGO" ],
  "logoFilenames" : [ "LOGO" ],
  "characterartFilenames" : [ "CHARACTERART" ],
  "keyartFilenames" : [ "KEYART" ],
  "seasonPosterFilenames" : [ "SEASON_FOLDER" ],
  "seasonFanartFilenames" : [ "SEASON_FANART" ],
  "seasonBannerFilenames" : [ "SEASON_FOLDER" ],
  "seasonThumbFilenames" : [ "SEASON_FOLDER" ],
  "episodeNfoFilenames" : [ "FILENAME" ],
  "episodeThumbFilenames" : [ "FILENAME" ],
  "trailerFilenames" : [ "TVSHOW_TRAILER" ],
  "uiFilterPresets" : { },
  "tvShowConnector" : "EMBY",
  "certificationStyle" : "SHORT",
  "writeCleanNfo" : false,
  "nfoDateAddedField" : "DATE_ADDED",
  "nfoLanguage" : "en",
  "nfoWriteEpisodeguide" : true,
  "nfoWriteNewEpisodeguideStyle" : true,
  "nfoWriteDateEnded" : false,
  "nfoWriteAllActors" : false,
  "nfoWriteSingleStudio" : false,
  "nfoWriteLockdata" : false,
  "renameAfterScrape" : false,
  "ardAfterScrape" : false,
  "updateOnStart" : false,
  "renamerTvShowFoldername" : "${showTitle} (${showYear})",
  "renamerSeasonFoldername" : "Season ${seasonNr}",
  "renamerFilename" : "S${seasonNr2}E${episodeNr2} - ${title}",
  "renamerShowPathnameSpaceSubstitution" : false,
  "renamerShowPathnameSpaceReplacement" : "_",
  "renamerSeasonPathnameSpaceSubstitution" : false,
  "renamerSeasonPathnameSpaceReplacement" : "_",
  "renamerFilenameSpaceSubstitution" : false,
  "renamerFilenameSpaceReplacement" : "_",
  "renamerColonReplacement" : "",
  "renamerCleanupUnwanted" : false,
  "renamerFirstCharacterNumberReplacement" : "#",
  "asciiReplacement" : false,
  "specialSeason" : true,
  "scraper" : "tvdb",
  "scraperLanguage" : "en",
  "certificationCountry" : "US",
  "releaseDateCountry" : "US",
  "tvShowScraperMetadataConfig" : [ "ID", "TITLE", "ORIGINAL_TITLE", "PLOT", "YEAR", "AIRED", "STATUS", "RATING", "RUNTIME", "CERTIFICATION", "GENRES", "COUNTRY", "STUDIO", "TAGS", "TRAILER", "SEASON_NAMES", "ACTORS", "POSTER", "FANART", "BANNER", "CLEARART", "THUMB", "LOGO", "CLEARLOGO", "DISCART", "KEYART", "CHARACTERART", "EXTRAFANART", "SEASON_POSTER", "SEASON_FANART", "SEASON_BANNER", "SEASON_THUMB", "THEME", "ID", "TITLE", "ORIGINAL_TITLE", "PLOT", "YEAR", "AIRED", "STATUS", "RATING", "RUNTIME", "CERTIFICATION", "GENRES", "COUNTRY", "STUDIO", "TAGS", "TRAILER", "SEASON_NAMES", "ACTORS", "POSTER", "FANART", "BANNER", "CLEARART", "THUMB", "LOGO", "CLEARLOGO", "DISCART", "KEYART", "CHARACTERART", "EXTRAFANART", "SEASON_POSTER", "SEASON_FANART", "SEASON_BANNER", "SEASON_THUMB", "THEME" ],
  "episodeScraperMetadataConfig" : [ "TITLE", "ORIGINAL_TITLE", "PLOT", "AIRED_SEASON_EPISODE", "DVD_SEASON_EPISODE", "DISPLAY_SEASON_EPISODE", "AIRED", "RATING", "TAGS", "ACTORS", "DIRECTORS", "WRITERS", "PRODUCERS", "THUMB", "TITLE", "ORIGINAL_TITLE", "PLOT", "AIRED_SEASON_EPISODE", "DVD_SEASON_EPISODE", "DISPLAY_SEASON_EPISODE", "AIRED", "RATING", "TAGS", "ACTORS", "DIRECTORS", "WRITERS", "PRODUCERS", "THUMB" ],
  "doNotOverwriteExistingData" : false,
  "fetchAllRatings" : true,
  "imageScraperLanguage" : "en",
  "imagePosterSize" : "LARGE",
  "imageFanartSize" : "LARGE",
  "imageLanguagePriority" : true,
  "scrapeBestImage" : true,
  "writeActorImages" : false,
  "imageExtraFanart" : false,
  "imageExtraFanartCount" : 5,
  "useTrailerPreference" : true,
  "automaticTrailerDownload" : false,
  "trailerQuality" : "HD_720",
  "trailerSource" : "YOUTUBE",
  "subtitleScraperLanguage" : "en",
  "subtitleLanguageStyle" : "ISO3T",
  "subtitleForceBestMatch" : false,
  "buildImageCacheOnImport" : false,
  "syncTrakt" : false,
  "syncTraktCollection" : true,
  "syncTraktWatched" : true,
  "syncTraktRating" : true,
  "dvdOrder" : false,
  "preferredRating" : "tvdb",
  "extractArtworkFromVsmeta" : false,
  "useMediainfoMetadata" : false,
  "showTvShowArtworkTypes" : [ "POSTER", "FANART", "BANNER" ],
  "showSeasonArtworkTypes" : [ "SEASON_POSTER", "SEASON_THUMB", "SEASON_BANNER" ],
  "showEpisodeArtworkTypes" : [ "SEASON_POSTER", "THUMB" ],
  "displayMissingEpisodes" : false,
  "displayMissingSpecials" : false,
  "showTvShowTableTooltips" : true,
  "seasonArtworkFallback" : false,
  "storeUiFilters" : false,
  "uiFilters" : [ ],
  "universalFilterFields" : [ "NOTE", "FILENAME", "PRODUCTION_COMPANY", "COUNTRY", "SPOKEN_LANGUAGE", "ACTOR", "PRODUCER", "WRITER", "DIRECTOR", "TAGS", "PLOT", "TAGLINE", "NOTE", "FILENAME", "PRODUCTION_COMPANY", "COUNTRY", "SPOKEN_LANGUAGE", "ACTOR", "PRODUCER", "WRITER", "DIRECTOR", "TAGS", "PLOT", "TAGLINE" ],
  "tvShowCheckMetadata" : [ "ID", "TITLE", "PLOT", "YEAR", "STATUS", "GENRES", "ACTORS" ],
  "tvShowDisplayAllMissingMetadata" : false,
  "tvShowCheckArtwork" : [ "POSTER", "FANART", "BANNER" ],
  "tvShowDisplayAllMissingArtwork" : false,
  "seasonCheckArtwork" : [ "SEASON_POSTER", "SEASON_BANNER", "SEASON_THUMB" ],
  "seasonDisplayAllMissingArtwork" : false,
  "episodeCheckMetadata" : [ "AIRED_SEASON_EPISODE", "TITLE", "ACTORS" ],
  "episodeDisplayAllMissingMetadata" : false,
  "episodeSpecialsCheckMissingMetadata" : false,
  "episodeCheckArtwork" : [ "THUMB" ],
  "episodeDisplayAllMissingArtwork" : false,
  "episodeSpecialsCheckMissingArtwork" : false,
  "node" : true,
  "title" : true,
  "originalTitle" : true,
  "note" : false,
  "tvShowDataSource" : [ "/media/animetvshows", "/media/kidstvshows", "/media/tvshows" ],
  "configFilename" : "tvShows.json",
  "skipFolder" : [ "MAKEMKV" ],
  "badWord" : [ ],
  "capitalWordsInTitles" : false
}