{
  "artworkScrapers" : [ "tmdb", "fanarttv", "tvdb" ],
  "asciiReplacement" : false,
  "automaticTrailerDownload" : false,
  "badWord" : [ ],
  "bannerFilenames" : [ "BANNER" ],
  "buildImageCacheOnImport" : false,
  "capitalWordsInTitles" : false,
  "certificationCountry" : "US",
  "certificationStyle" : "SHORT",
  "characterartFilenames" : [ "CHARACTERART" ],
  "clearartFilenames" : [ "CLEARART" ],
  "clearlogoFilenames" : [ "CLEARLOGO" ],
  "configFilename" : "tvShows.json",
  "createMissingSeasonItems" : false,
  "defaultImageScraperLanguage" : "en",
  "discartFilenames" : [ "DISCART" ],
  "displayMissingEpisodes" : false,
  "displayMissingNotAired" : false,
  "displayMissingSpecials" : false,
  "doNotOverwriteExistingData" : false,
  "episodeCheckArtwork" : [ "THUMB" ],
  "episodeCheckMetadata" : [ "SEASON_EPISODE", "TITLE", "ACTORS" ],
  "episodeDisplayAllMissingArtwork" : false,
  "episodeDisplayAllMissingMetadata" : false,
  "episodeNfoFilenames" : [ "FILENAME" ],
  "episodeScraperMetadataConfig" : [ "TITLE", "ORIGINAL_TITLE", "PLOT", "SEASON_EPISODE", "SEASON_EPISODE", "SEASON_EPISODE", "AIRED", "RATING", "TAGS", "ACTORS", "DIRECTORS", "WRITERS", "PRODUCERS", "THUMB", "TITLE", "ORIGINAL_TITLE", "PLOT", "SEASON_EPISODE", "SEASON_EPISODE", "SEASON_EPISODE", "AIRED", "RATING", "TAGS", "ACTORS", "DIRECTORS", "WRITERS", "PRODUCERS", "THUMB" ],
  "episodeSpecialsCheckMissingArtwork" : false,
  "episodeSpecialsCheckMissingMetadata" : false,
  "episodeThumbFilenames" : [ "FILENAME" ],
  "extraFanartFilenames" : [ "EXTRAFANART" ],
  "extractArtworkFromVsmeta" : false,
  "fanartFilenames" : [ "FANART" ],
  "fetchAllRatings" : true,
  "imageExtraFanart" : false,
  "imageExtraFanartCount" : 5,
  "imageFanartSize" : "LARGE",
  "imagePosterSize" : "LARGE",
  "imageScraperFallback" : true,
  "imageScraperLanguages" : [ "en" ],
  "imageScraperOtherResolutions" : true,
  "imageScraperPreferFanartWoText" : true,
  "imageThumbSize" : "MEDIUM",
  "keyartFilenames" : [ "KEYART" ],
  "nfoDateAddedField" : "DATE_ADDED",
  "nfoFilenames" : [ "TV_SHOW" ],
  "nfoLanguage" : "en",
  "nfoWriteAllActors" : false,
  "nfoWriteDateEnded" : false,
  "nfoWriteEpisodeguide" : true,
  "nfoWriteLockdata" : false,
  "nfoWriteNewEpisodeguideStyle" : true,
  "nfoWriteSingleStudio" : false,
  "node" : true,
  "note" : false,
  "originalTitle" : true,
  "postProcessEpisode" : [ ],
  "postProcessTvShow" : [ ],
  "posterFilenames" : [ "POSTER" ],
  "preferredRating" : "tvdb",
  "ratingSources" : [ "imdb" ],
  "releaseDateCountry" : "US",
  "renameAfterScrape" : false,
  "renamerCleanupUnwanted" : false,
  "renamerColonReplacement" : "",
  "renamerFilename" : "S${seasonNr2}E${episodeNr2} - ${title}",
  "renamerFilenameSpaceReplacement" : "_",
  "renamerFilenameSpaceSubstitution" : false,
  "renamerFirstCharacterNumberReplacement" : "#",
  "renamerSeasonFoldername" : "Season ${seasonNr2}",
  "renamerSeasonPathnameSpaceReplacement" : "_",
  "renamerSeasonPathnameSpaceSubstitution" : false,
  "renamerShowPathnameSpaceReplacement" : "_",
  "renamerShowPathnameSpaceSubstitution" : false,
  "renamerTvShowFoldername" : "${showTitle} (${showYear})",
  "resetNewFlagOnUds" : true,
  "scrapeBestImage" : true,
  "scraper" : "tvdb",
  "scraperLanguage" : "en",
  "seasonArtworkFallback" : false,
  "seasonBannerFilenames" : [ "SEASON_FOLDER" ],
  "seasonCheckArtwork" : [ "SEASON_POSTER", "SEASON_BANNER", "SEASON_THUMB" ],
  "seasonDisplayAllMissingArtwork" : false,
  "seasonFanartFilenames" : [ "SEASON_FANART" ],
  "seasonNfoFilenames" : [ ],
  "seasonPosterFilenames" : [ "SEASON_FOLDER" ],
  "seasonThumbFilenames" : [ "SEASON_FOLDER" ],
  "showEpisodeArtworkTypes" : [ "SEASON_POSTER", "THUMB" ],
  "showSeasonArtworkTypes" : [ "SEASON_POSTER", "SEASON_THUMB", "SEASON_BANNER" ],
  "showTvShowArtworkTypes" : [ "POSTER", "FANART", "BANNER" ],
  "showTvShowTableTooltips" : true,
  "skipFolder" : [ "MAKEMKV" ],
  "specialSeason" : true,
  "storeUiFilters" : false,
  "subtitleForceBestMatch" : false,
  "subtitleLanguageStyle" : "ISO3T",
  "subtitleScraperLanguage" : "en",
  "subtitleScrapers" : [ "opensubtitles" ],
  "syncTrakt" : false,
  "syncTraktCollection" : true,
  "syncTraktRating" : true,
  "syncTraktWatched" : true,
  "thumbFilenames" : [ "THUMB" ],
  "title" : true,
  "trailerFilenames" : [ "TVSHOW_TRAILER" ],
  "trailerQuality" : "HD_720",
  "trailerScrapers" : [ "tmdb" ],
  "tvShowCheckArtwork" : [ "POSTER", "FANART", "BANNER" ],
  "tvShowCheckMetadata" : [ "ID", "TITLE", "PLOT", "YEAR", "STATUS", "GENRES", "ACTORS" ],
  "tvShowConnector" : "PLEX",
  "tvShowDataSource" : [ "/media/animetvshows", "/media/tvshows", "/media/tvshows-4k" ],
  "tvShowDisplayAllMissingArtwork" : false,
  "tvShowDisplayAllMissingMetadata" : false,
  "tvShowScraperMetadataConfig" : [ "ID", "TITLE", "ORIGINAL_TITLE", "PLOT", "YEAR", "AIRED", "STATUS", "RATING", "RUNTIME", "CERTIFICATION", "GENRES", "COUNTRY", "STUDIO", "TAGS", "TRAILER", "SEASON_NAMES", "ACTORS", "POSTER", "FANART", "BANNER", "CLEARART", "THUMB", "LOGO", "CLEARLOGO", "DISCART", "KEYART", "CHARACTERART", "EXTRAFANART", "SEASON_POSTER", "SEASON_FANART", "SEASON_BANNER", "SEASON_THUMB", "THEME", "ID", "TITLE", "ORIGINAL_TITLE", "PLOT", "YEAR", "AIRED", "STATUS", "RATING", "RUNTIME", "CERTIFICATION", "GENRES", "COUNTRY", "STUDIO", "TAGS", "TRAILER", "SEASON_NAMES", "ACTORS", "POSTER", "FANART", "BANNER", "CLEARART", "THUMB", "LOGO", "CLEARLOGO", "DISCART", "KEYART", "CHARACTERART", "EXTRAFANART", "SEASON_POSTER", "SEASON_FANART", "SEASON_BANNER", "SEASON_THUMB", "THEME" ],
  "uiFilterPresets" : { },
  "uiFilters" : [ ],
  "universalFilterFields" : [ "NOTE", "FILENAME", "PRODUCTION_COMPANY", "COUNTRY", "SPOKEN_LANGUAGE", "ACTOR", "PRODUCER", "WRITER", "DIRECTOR", "TAGS", "PLOT", "TAGLINE", "NOTE", "FILENAME", "PRODUCTION_COMPANY", "COUNTRY", "SPOKEN_LANGUAGE", "ACTOR", "PRODUCER", "WRITER", "DIRECTOR", "TAGS", "PLOT", "TAGLINE" ],
  "updateOnStart" : false,
  "useMediainfoMetadata" : false,
  "useTrailerPreference" : true,
  "useYtDlp" : false,
  "writeActorImages" : false,
  "writeCleanNfo" : false
}