dynamic_collections:
  Genres:         # mapping name does not matter just needs to be unique
    type: album_genre
  Styles:         # mapping name does not matter just needs to be unique
    type: album_style
